body{}
.Container{
	width:1200px;
	padding:0px;
	margin:auto;
}
.main-nav{}
a{
	text-decoration:none;
}
a:hover{
	color:orange;
}
.clr{
	clear:both;
}
.main-nav li{
	 float:right;
	 display:inline;
	 padding-left:25px;
}
.main-nav h3{
	color:blue;
}
.section1{
	height:400px;
/*color:white;*/
}
.section1 h3{
	padding-top:100px;
}
#icon{
	float:right;
}
.section2{
	float:right;
	height:300px;
}
#Academics{
	float:left;
	border-right:1px solid black;
}
#Goverment{
	float:left;
	margin-left:450px;
	border-right:1px solid black;
}
#Article{
	float:right; 
	margin-left:450px;
	border-right:1px solid black;

}
.Main-section{
  	float:right;
  	line-height:1.5em;
}